/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap-theme.min
 *= require bootstrap.min
 # Put the lines above 'require_tree'
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
body {
     background-image: url('bg/bgfrn.png');
     background-size: 100% 150%;
}
 .jumbotron {
     background-color: rgba(128, 128, 128, 0.39);
     color:rgb(147, 230, 233);
 }
 .navbar {
     color: white;
 }
 .navbar-expand-lg{
     background-color: rgba(19, 17, 17, 0.384);
 }
 h1 {
     color:aquamarine;
 }
 label {
     color: white;
     font-size: 20px;
 }