<h1> Jenis Kursus :  <%= @jenis_kursu.jenis_kursus %> </h1>
<h4> Lama Belajar :  <%= @jenis_kursu.lama_belajar %></h4>
<h4> Tarif        :  <%= @jenis_kursu.tarif %></h4>
<br>
<%= link_to 'kembali', jenis_kursus_path, {class: 'btn btn-default'} %>